<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo">
            <h3>Celtic tours</h3>
        </div>
        <div class="social">
            <a href="inst">instagram</a>
            <a href="face">facebook</a>
        </div>
        <div class="phone">
            <h4 class = "phone-number">(+353) 7 856 7860</h3>
        </div>
        <div class="burger-menu">
            <button>=</button>
        </div>
    </header>
    <div class = "main">
        <div class="main-display">
            <div class="scroll-displays"></div>
            <div class="ireland-tours">
                <img src="" alt="ireland-tours">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat temporibus rem id, repellat quos necessitatibus optio ipsa totam distinctio corporis ipsam suscipit tempore, laboriosam, fugiat officia nulla itaque quas corrupti?</p>
                <button class = "book">BOOK A TOUR</button>
            </div>
            <div class="cards">
                <div class="card">
                    <div class="left-arrow"></div>
                    <div class="right-arrow"></div>
                </div>
                <div>
                    *
                </div>
                <div class="card">
                    <h6>TEST</h6>
                    <h4>lorem dwd dww dsd wsfvdf</h4>
                    <button class="learn">Learn more</button>
                </div>
                <div class="card">
                    <h6>TEST</h6>
                    <h4>lorem dwd dww dsd wsfvdf</h4>
                    <button class="learn">Learn more</button>
                </div>
                <div class="card">
                    <h6>TEST</h6>
                    <h4>lorem dwd dww dsd wsfvdf</h4>
                    <button class="learn">Learn more</button>
                </div>
            </div>
        </div>
        <div class="tours-display">
            <div class="scroll-displays"></div>
            <div class="cards">
                <div class="card">
                    <h6>Amazing 8-Day Tour to the Emerald Island</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis porro ea magni temporibus alias tempore velit repudiandae sit, minima ducimus libero ipsum dolores accusantium, tenetur nesciunt reiciendis sequi. Veritatis, amet.</p>
                    <p>Duration 8 days/7 nights</p>
                    <div class = "buy-div">
                        <h2>1247 euro</h2>
                        <button class="learn">LEARN MORE</button>
                    </div>
                </div>
                <div class="card">
                    <img src="" alt="ANCIENT IRELAND">
                    <h6>ANCIENT IRELAND</h6>
                    <h4>6-Day Deluxe Irish Castle Tour</h4>
                </div>
                <div class="card">
                    <img src="" alt="QUICK TOUR">
                    <h6>QUICK TOUR</h6>
                    <h4>St.Patrick's Day in Ireland(4-Day)</h4>
                </div>
            </div>
        </div>
    </div>
    <footer>

    </footer>
</body>
</html>